[phases.setup]
nixPkgs = ["...", "php84Extensions.pdo_mysql"]

[phases.install]
cmds = ["composer install --no-dev --optimize-autoloader", "npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "bash railway/init-app.sh"
